<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Template file</title>
</head>
<body>
    <h1>Users</h1>

    <ul>
        {% for x in users %}
        <li> {{x.name}} </li>
        {% endfor %}
    
    </ul>

    <p>
        This is our first  practice file created in Django templates.
        This is our first  practice file created in Django templates.
        This is our first  practice file created in Django templates.
        This is our first  practice file created in Django templates.
        This is our first  practice file created in Django templates.
    </p>
    
</body>
</html>